/Album.cs
/AluraTunes.Context.cs
/AluraTunes.Context.tt
/AluraTunes.Designer.cs
/AluraTunes.cs
/AluraTunes.edmx
/AluraTunes.edmx.diagram
/AluraTunes.mdf
/AluraTunes.sql
/AluraTunes.tt
/AluraTunes.xml
/AluraTunes_log.ldf
/Artista.cs
/Cliente.cs
/Database1_log.ldf
/Faixa.cs
/Funcionario.cs
/Genero.cs
/ItemNotaFiscal.cs
/NotaFiscal.cs
/Playlist.cs
/TipoMidia.cs
